/* =============clients============== */
.clients {
	height: 588px;
	display: grid;
	grid-template-rows: 106px 234px 63px;	
	justify-items: center;
	align-items: initial;
	grid-template-areas:
    "a"
    "b"
    "c";
	background-image: url(../images/clientele-img/clientele-background.png);
	background-size: cover;	
	background-repeat: no-repeat;	
	margin: 0;	
}

.clients-title{
	grid-area: b;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.clients-title::after {
	content: "";
	display: block;
	width: 60px;	
	text-align: center;
	margin: 87px auto;	
	border-bottom: 3px solid #18B4CF;	
}

.clients-logo-wrapper {
	grid-area: c;
	display: grid;	
	min-width: 881px;
	min-height: 63px;
	grid-template-columns: repeat(4, auto);
	grid-column-gap: 58px;	
	justify-items: center;
	align-items: center;
	margin: 0;
}