/* ==============footer=============== */
.footer-container {
	display: grid;
	justify-content: center;
	grid-template-columns: 0fr;
	height: 80px;
	background: #000000;
	grid-template-areas:
	"text-item"
	"logo-item";
}

.footer-text{
	grid-area: text-item;
	width: 1167px;
	justify-content: space-between;
	font-weight: normal;
	font-size: 13px;
	line-height: 13px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #FFFFFF;
}
.footer-container span {
	grid-area: logo-item;	
	display: grid;
	justify-content: center;	
}

.footer-logo {
	padding: 29px 0;
	cursor: pointer;
}