
.main-header {	
	height: 70px;
	background: var(--main-header-bg-color);	
	display: flex;
	justify-content: space-between;
}

.logo-container {
	height: 100%;	
}

.logo-container a{
	height: 100%;
	width: 185px;	
	display: flex;
	align-items: center;
	margin-left: 16px;
	text-decoration: none;	
}

.logo-img {
	height: 27;
	margin-left: 13px;
}
.logo-text {
	margin-left: 27px;
	font-size: 22px;
	font-weight: bold;
	color: var(--main-white-color);		
}

.header-menu {	
	 margin-left: 47px; /*474-427 сдвиг от центрат */
}

.header-menu-list {
	height: 100%;
	width: 722px; 
	display: flex;
	flex-direction: row;	
	align-items: center;		
}

.header-menu-item {
	flex-grow: 1;
}
.header-menu-item a {
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--main-white-color);
	text-decoration: none;	
	padding: 26px 15px 26px 15px;	
}

.header-menu-item a:first-child{
	padding-left: 0;
} 

.header-menu-item:hover a{
	color: var(--main-active-color);
}

.header-search {
	height: 100%;
	width: 68px;	
	background: black;
	cursor: pointer;			
}

.search-item {
	height: 17px;
	margin: 26px;
	background-image: url(../images/header/search-icon.png);
	background-size: contain;	
	background-repeat: no-repeat;	
}

.header-news {
	height: 370px;	
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../images/header/header-background.png);
	background-size: contain;	
	background-repeat: no-repeat;		
}

.header-news-title {			
	padding-top: 164px;
	font-weight: bold;
	font-size: 27px;		
	color: var(--main-white-color);
}

.header-news-buttons {
	height: 55px;
	width: 360px;
	display: flex;
	justify-content: space-between;
	margin-top: 44px;	
}

.btn {
	height: 100%;
	width: 170px;	
	background: var(--main-btn-green-color);	
	font-weight: 600;
	font-size: 18px;	
	color: var(--main-white-color);
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.header-news-buttons a {	
	display: flex;	
	align-items: center;
	justify-content: center;
	text-decoration: none;
	background: var(--main-btn-blue-color);
}

