/* ==============hot news=============== */
.news-block {
	height: 1683px;
	display: grid;	
	grid-template-rows: 132px;	  
	justify-items: center;	
	margin: 0;
}

.news-container {
	display: grid;	
	width: 1167px;
	height: 1480px;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(4,1fr);
	grid-template-areas:
	"item1 item1 item1 item2"
	"item3 item3 item4 item4"
	"item5 item5 item6 item6"
	"item7 item8 item8 item8";
	grid-column-gap: 60px;
	grid-row-gap: 33px;	
}

.neews-item1 {	grid-area: item1;}
.neews-item2 {	grid-area: item2;}
.neews-item3 {	grid-area: item3;}
.neews-item4 {	grid-area: item4;}
.neews-item5 {	grid-area: item5;}
.neews-item6 {	grid-area: item6;}
.neews-item7 {	grid-area: item7;}
.neews-item8 {	grid-area: item8;}


.column-ppsition {
	height: 260px;
	display: flex;	
	background: #F9F7F7;
	box-shadow: 0px 1px 0px rgb(0 0 0 / 3%);	
}

.row-ppsition {
	height: 260px;		
	display: grid;	
	background: #F9F7F7;
	box-shadow: 0px 1px 0px rgb(0 0 0 / 3%);
	justify-items: center;
}

.centre-ppsition {
	height: 430px;	
	background: #F9F7F7;
	box-shadow: 0px 1px 0px rgb(0 0 0 / 3%);	
}

.news-description {
	text-align: center;
	padding-top: 25px;	
}

.news-title {	
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;	
	text-align: right;
	color: #353A3D;
}
.news-content {
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;	
	text-align: right;
	margin-top: 14px;
	color: #5B6469;	
}