/* ==============rated-container=============== */
.rated-block {	
	height: 324px;
	display: grid;	
	grid-template-rows: 1fr;   
	justify-items: center;	
	margin: 0;	
}

.rated-img-container {	
	display: grid;	
	height: 190px;	
	grid-template-columns: repeat(7,1fr);	
}