@import "header.css";
@import "where-done.css";
@import "clients.css";
@import "rated.css";
@import "news.css";
@import "footer.css";

:root {	
	--main-header-bg-color: #313131;
	--main-white-color: #FFFFFF;
	--main-active-color: #14B9D5;
	--main-btn-green-color:#89CA62;
	--main-btn-blue-color: #14B9D5;
	--main-section-title-color: #18B4CF;
}

body {
	width: 1900px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;	
	background: #F2F2F2;
}

.section-title {
	height: max-content;	
	margin-top: 49px;
	font-weight: bold;
	font-size: 27px;
	color: var(--main-section-title-color);
	text-transform: uppercase;	
}



