/* ==============where-done=============== */
.where-done {
	height: 1030px;
	display: flex;
	flex-direction: column;
	align-items: center;	
}


.where-done-img-container {
	width: 1170px;
	/* height: 828px; для сравнения с макетом */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	max-height: 900px;
	align-items: center;	
	margin-top: 48px;		
}

.where-done-img-container:nth-child(3),
.where-done-img-container:nth-child(4) 
{
	margin-left: 30px;
	margin-right: 30px;
}


/* ------------------Можно не задавать-------------- */
.where-done-img-container-item:nth-child(even) { 
	margin-bottom: 0px;
}/* ------------------------------------------------- */

.where-done-img-container-item {
	width: 370px;
	display: flex;	
	text-align: center;
	flex-direction: column;
	margin: 0 30px 30px 0;
	background: #FFFFFF;	
}

.where-done-img-name {
	margin: 20px 0;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;	
	color: #353A3D;
}